.formContainer {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.namesInfo {
  display: flex;
  gap: 12px;
}

.button {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.formValidationText {
  padding-top: 12px;
  color: red;
  font-size: 12px;
  margin: 0 auto;
}