.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  padding-left: 62px;
  display: flex;

  @media screen and (max-width:48rem) {
    display: none;
  }
}

.headerTitle h1 {
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-size: 16px;

  @media screen and (max-width:48rem) {
    font-size: 12px;
  }
}

.userInfoContainer {
  display: none;

  @media screen and (max-width:48rem) {
    display: block;
  }
}