.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 8px 6px;
  font-size: 16px;
  border: 0.05px solid #ccc;
  border-radius: 4px;
  font-family: 'Vazir';
  min-height: 60px;
  max-height: 60px;


  &::placeholder {
    font-family: 'Vazir';
    font-size: 14px;
  }

  @media screen and (max-width: 48rem) {
    min-height: 40px;
    max-height: 40px;
    font-size: 14px;

    &::placeholder {
      font-family: 'Vazir';
      font-size: 12px;
    }
  }
}

.error {
  font-size: 12px;
  color: red;
  padding-top: 8px;
}