.insuranceProviderContainer {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.selectItems {
  width: 100%;
  display: flex;
  gap: 12px;
}

.title {
  text-align: right;
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 500;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}