.leftPanel {
  flex: 1;
  background-color: #fffff6;
}

.userInfoContainer {
  padding: 2rem 0 0 3rem;
  display: flex;
  width: 100%;
  justify-content: end;

  @media screen and (max-width:48rem) {
    display: none;
  }
}

.title {
  text-align: left;
}

.leftPanel h2 {
  text-align: left;
  font-size: 16px;
}