.navigationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #2fbd98;
  background-color: #fff;
  border-radius: 24px;
  border: 0.05px solid #2fbd98;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Vazir';
  width: 160px;

  @media screen and (max-width:48rem) {
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 20px;
    width: 120px;
  }
}

.navigationButton:hover {
  background-color: #0a8263;
  transform: scale(1.05);
  color: #fff;
}

.navigationButton:active {
  background-color: #0a8263;
  transform: scale(0.95);
  color: #fff;
}

.navigationButton:disabled {
  opacity: 0.5;
  background-color: #fff;
  cursor: not-allowed;
  color: #2fbd98;
  border: 0.05px solid #ccc;
}

.ButtonArrow {
  display: flex;
  gap: 12px;
  align-items: center;
}

.iconLeft {
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
}

.iconRight {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}