.title {
  font-size: 16px;
  margin: 0 0 15px;
  text-align: right;
  color: #008fff;
  font-weight: 700;
}

.vehicleListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 0.025rem solid rgb(11, 11, 11);
  cursor: pointer;
}

.vehicleListItem:last-child {
  border-bottom: none;
}