.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 111;
  background-color: #fff;
  width: 100%;
}

.headerTitleList {
  display: flex;
  gap: 0.75rem;
  font-size: 0.75rem;
}

.headerTitleItem {
  cursor: pointer;
}

.headerThemeIcon {
  margin-right: auto;
}