.selectItems {
  width: 100%;
  display: flex;
  gap: 12px;
}

.title {
  margin: 0 0 15px;
  text-align: right;
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 500;
}

.vehicleListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 0.025rem solid rgb(11, 11, 11);
  cursor: pointer;
}

.vehicleListItem:last-child {
  border-bottom: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}