.formContainer {
  padding: 10px 24px;
  min-height: 340px;
  max-width: 350px;
  box-shadow: 0 2px 8px rgba(4, 10, 31, .08);
}

.title {
  font-size: 16px;
  margin: 0 0 15px;
  text-align: right;
  color: #008fff;
  font-weight: 700;
}