.layoutContainer {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
  position: relative;

  @media screen and (max-width: 48rem) {
    flex-direction: column;
    overflow: hidden;
  }
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 540px;
  max-width: 540px;
  min-width: 540px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 10;

  @media screen and (max-width: 48rem) {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    left: 1rem;
    bottom: 1rem;
  }
}