.contentWrapper {
  margin-top: 40px;
  padding-right: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;

  @media screen and (max-width: 48rem) {
    margin-top: 20px;
    padding: 0;
    width: 100%;
  }
}

.title {
  font-size: 20px;
  text-align: right;
  font-weight: 700;
  width: 100%;

  @media screen and (max-width: 48rem) {
    margin-top: 18px;
    text-align: center;
  }
}

.contentArea {
  padding-top: 24px;
  width: 100%;
}