.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.selectContainer {
  padding: 8px 12px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 0.05px solid #ccc;
  border-radius: 2px;
  height: 38px;
  font-family: "Vazir";
  cursor: pointer;

  @media screen and (max-width: 48rem) {
    padding: 6px 8px;
  }
}

.selectIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  font-size: 14px;
}